//.layoutContainer {
//  display: flex;
//  flex-direction: column;
//}
//
//.header {
//  display: flex;
//  flex-direction: column;
//}
//
//.mainContent {
//display: flex;
//}
//
//.sidebar {
//  border-right: 1px solid black;
//}
//
//.main {
//
//}

.sidebar {
  width: 20%;
}